<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Dima/Desktop/OpenCard">
        <classes>
            <class name="demoOpenCard.TestCases.TC1_Register">
                <methods>
                    <include name="registerTest"/>
                    <include name="checkDataBase"/>
                    <include name="checkAdminPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>